.body{
    background-image:linear-gradient(to right, #283606, #0F1500);
    overflow-y:visible;
    overflow-x: hidden;
}

/* Note: the styling should have been in a seperate file but React18 is not supporting usestyle, makeStyle lib anymore.  */